body {
    font-family: 'Arial', sans-serif;
    color: black;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
}

#logo1 {
    width: 120px;
    margin-left: 20px;
}

.nav-button {
    background-color: #D3CCE3;
    color: black;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
}

.hero {
    text-align: center;
    padding: 50px 0;
    background-color: #E6E6FA;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 36px;
    color: black;
}

#consultation-history {
    width: 80%;
    margin: 0 auto;
}

.consultation-card {
    display: flex;
    flex-direction: column;
    background-color: #E6E6FA;
    border-radius: 10px;
    margin: 20px 0;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.consultation-date {
    background-color: #D3CCE3;
    color: black;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.consultation-content {
    display: flex;
    align-items: center;
}

.medium-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.consultation-details {
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    flex-grow: 1;
}

.consultation-details p {
    margin: 5px 0;
}

#no-consultation-popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#no-consultation-popup div {
    background-color: #FFD700;
    margin: 20% auto;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
}
