body {
    font-family: 'Arial', sans-serif;
    color: black;
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #4B0082;
}

#logo1 {
    width: 120px;
    margin-left: 20px;
}

.nav-button {
    background-color: #D3CCE3;
    color: black;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
}

.hero {
    text-align: center;
    padding: 50px 0;
    background-color: #E6E6FA;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 36px;
    color: black;
}

#profil-info {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.profil-section {
    width: 30%;
    text-align: center;
    margin-bottom: 20px;
}

.profil-section img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.profil-section p {
    font-size: 18px;
    color: black;
}
